.public-view-container {
  padding: var(--spacing-lg);
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-lg);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xs);
}

.tab-button {
  flex: 1;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: var(--border-radius-sm);
  text-transform: uppercase;
}

.tab-button.active {
  background-color: var(--primary-color);
}

.filters {
  display: flex;
  gap: 0px;
  margin-bottom: var(--spacing-lg);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xs);
}

.filter-button {
  flex: 1;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: transparent;
  color: white;
  border: none;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-button.active {
  background-color: var(--primary-color);
}

.date-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  background-color: var(--background-secondary);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-md);
}

.nav-button {
  background-color: var(--background-tertiary);
  color: white;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-lg);
}

.date-display {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: white;
}

.no-matches {
  background-color: var(--background-secondary);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-md);
  text-align: center;
  color: var(--text-secondary);
}

.league-select {
  width: 100%;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-md);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-lg);
}